.Layout {
    display: flex;
    height: 80vh;
    padding-top: 20px;
}

.left {
    flex-grow:4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.right {
    flex:1;
}